<div class="navigation">
        <nav>
             <div class="topiary_wolf">Pic or logo</div>
            <ul>
                 <li>
                    <label for="development">Development</label>
                 </li>
                 <li>
                    <label for="design" >Design</label>
                 </li>
                 <li>
                    <label for="video">Video</label>
                 </li>
                 <li>
                     <label for="all">all</label>
                 </li>
                 <li>social diet icons</li>
            </ul>
        </nav>
    </div>