
<% include ../partials/global/header %>
<div class="topiary topiary__container">
    <% include ../partials/global/main_nav %>
    <% include ../content/content %>
</div>
<% include ../partials/global/footer %>
    
 
